## Part 2 contains moving average and onwards

In [1]:
import numpy as np
import pandas as pd

In [11]:
np.random.seed(1733)
df = pd.DataFrame(data= {"Date": pd.date_range(start="10/10/2020", freq="d", periods=15),
                         "Product sold": np.random.randint(300, 1000, 15)})
df

         Date  Product sold
0  2020-10-10           945
1  2020-10-11           436
2  2020-10-12           564
3  2020-10-13           527
4  2020-10-14           453
5  2020-10-15           437
6  2020-10-16           912
7  2020-10-17           512
8  2020-10-18           540
9  2020-10-19           325
10 2020-10-20           979
11 2020-10-21           774
12 2020-10-22           342
13 2020-10-23           309
14 2020-10-24           653

In [18]:
df["MovingAvg"] = df["Product sold"].rolling(window=4).mean()
df

         Date  Product sold  MovingAvg
0  2020-10-10           945        NaN
1  2020-10-11           436        NaN
2  2020-10-12           564        NaN
3  2020-10-13           527     618.00
4  2020-10-14           453     495.00
5  2020-10-15           437     495.25
6  2020-10-16           912     582.25
7  2020-10-17           512     578.50
8  2020-10-18           540     600.25
9  2020-10-19           325     572.25
10 2020-10-20           979     589.00
11 2020-10-21           774     654.50
12 2020-10-22           342     605.00
13 2020-10-23           309     601.00
14 2020-10-24           653     519.50

In [23]:
df["Move1"] = df["Product sold"].shift(periods=1)
df["Move2"] = df["Product sold"].shift(periods=-1)
df

         Date  Product sold  MovingAvg  Move1  Move2
0  2020-10-10           945        NaN    NaN  436.0
1  2020-10-11           436        NaN  945.0  564.0
2  2020-10-12           564        NaN  436.0  527.0
3  2020-10-13           527     618.00  564.0  453.0
4  2020-10-14           453     495.00  527.0  437.0
5  2020-10-15           437     495.25  453.0  912.0
6  2020-10-16           912     582.25  437.0  512.0
7  2020-10-17           512     578.50  912.0  540.0
8  2020-10-18           540     600.25  512.0  325.0
9  2020-10-19           325     572.25  540.0  979.0
10 2020-10-20           979     589.00  325.0  774.0
11 2020-10-21           774     654.50  979.0  342.0
12 2020-10-22           342     605.00  774.0  309.0
13 2020-10-23           309     601.00  342.0  653.0
14 2020-10-24           653     519.50  309.0    NaN

In [24]:
df

         Date  Product sold  MovingAvg  Move1  Move2
0  2020-10-10           945        NaN    NaN  436.0
1  2020-10-11           436        NaN  945.0  564.0
2  2020-10-12           564        NaN  436.0  527.0
3  2020-10-13           527     618.00  564.0  453.0
4  2020-10-14           453     495.00  527.0  437.0
5  2020-10-15           437     495.25  453.0  912.0
6  2020-10-16           912     582.25  437.0  512.0
7  2020-10-17           512     578.50  912.0  540.0
8  2020-10-18           540     600.25  512.0  325.0
9  2020-10-19           325     572.25  540.0  979.0
10 2020-10-20           979     589.00  325.0  774.0
11 2020-10-21           774     654.50  979.0  342.0
12 2020-10-22           342     605.00  774.0  309.0
13 2020-10-23           309     601.00  342.0  653.0
14 2020-10-24           653     519.50  309.0    NaN

In [29]:
df["Product sold diff"] = df["Product sold"].diff(periods=-1)
df

         Date  Product sold  MovingAvg  Move1  Move2  Product sold diff
0  2020-10-10           945        NaN    NaN  436.0              509.0
1  2020-10-11           436        NaN  945.0  564.0             -128.0
2  2020-10-12           564        NaN  436.0  527.0               37.0
3  2020-10-13           527     618.00  564.0  453.0               74.0
4  2020-10-14           453     495.00  527.0  437.0               16.0
5  2020-10-15           437     495.25  453.0  912.0             -475.0
6  2020-10-16           912     582.25  437.0  512.0              400.0
7  2020-10-17           512     578.50  912.0  540.0              -28.0
8  2020-10-18           540     600.25  512.0  325.0              215.0
9  2020-10-19           325     572.25  540.0  979.0             -654.0
10 2020-10-20           979     589.00  325.0  774.0              205.0
11 2020-10-21           774     654.50  979.0  342.0              432.0
12 2020-10-22           342     605.00  774.0  309.0               33.0
13 2020-10-23           309     601.00  342.0  653.0             -344.0
14 2020-10-24           653     519.50  309.0    NaN                NaN

In [31]:
df["Percentagechange"] = df["Product sold"].pct_change(periods=-1)
df

,Date,Product sold,MovingAvg,Move1,Move2,Product sold diff,Percentagechange
0,2020-10-10,945,NaN,NaN,436.0,509.0,1.167431
1,2020-10-11,436,NaN,945.0,564.0,-128.0,-0.226950
2,2020-10-12,564,NaN,436.0,527.0,37.0,0.070209
3,2020-10-13,527,618.00,564.0,453.0,74.0,0.163355
4,2020-10-14,453,495.00,527.0,437.0,16.0,0.036613
5,2020-10-15,437,495.25,453.0,912.0,-475.0,-0.520833
6,2020-10-16,912,582.25,437.0,512.0,400.0,0.781250
7,2020-10-17,512,578.50,912.0,540.0,-28.0,-0.051852
8,2020-10-18,540,600.25,512.0,325.0,215.0,0.661538
9,2020-10-19,325,572.25,540.0,979.0,-654.0,-0.668029
10,2020-10-20,979,589.00,325.0,774.0,205.0,0.264858
11,2020-10-21,774,654.50,979.0,342.0,432.0,1.263158
12,2020-10-22,342,605.00,774.0,309.0,33.0,0.106796
13,2020-10-23,309,601.00,342.0,653.0,-344.0,-0.526799
14,2020-10-24,653,519.50,309.0,NaN,NaN,NaN